<div class="container">
  <h1 class="form-title">投稿編集</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 form-wrapper">
      <%= form_with model: @post, local:true do |f| %>
        <div class="form-group">
          <!--<#%= attachment_image_tag @post, :profile_image, format: "jpg", size: "100x100", fallback: "no_image-.jpg" %>-->
          <!--<#%= f.label :profile_image, "プロフィール画像"%>-->
          <!--<"%= f.attachment_field :profile_image %>-->
        </div>
        <div class="form-group">
          <%= f.label :title, "タイトル", autofocus: ""  %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "紹介文" %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.email_field :address, class: "form-control" %>
        </div>
        <%= f.submit "変更する", class: "btn btn-primary form-submit-btn" %>
      <% end %>
    </div>
  </div>
</div>