<div class="container-fluid bg-info">
  <div class="frow pt-5 d-flex">
    <div class="col-md-3">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">タグ</div>
        <div class="card-body text-dark">
          <p class="card-text">
            <% if @tag.exists? %>
              <% @tag.each do |tag| %>
                <%= link_to "# #{tag.tag_name}", tag_posts_path(tag_id: tag.id) %>
                (<%= tag.posts.count %>)
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
        <% @posts.each do |post| %>
          <div class="col-3 col-sm-3 pr-1 mb-2 pos-tcard">
            <div class="card" style="width: 20rem;height: 25rem;">
              <!--<img class="card-img-top" src="..." alt="Card image cap">-->
              <%= attachment_image_tag User.find(post.user_id), :profile_image, :fill, 30, 30, format: "jpg", fallback: "no_image-.jpg" %>
              <div class="card-body pt-1">
                <p class="card-title"><%= link_to post.title, post_path(post.id) %></p>
                <p class="card-text mb-1"><%= post.address %></p>
                <p class="card-text mb-1"><%= link_to post.user.name, user_path(post.user.id) %></p>
                <p class="card-text"></p>
              </div>
              <div class="card-footer" style="display: flex; justify-content: flex-end;">
                <P><%= post.created_at.strftime('%Y/%m/%d') %></P>
                <div id="favorites_button_<%= post.id %>">
                 <%= render partial: "public/favorites/favorite", locals: {post: post } %>
                </div>
                 <i class="far fa-comments"><%= link_to post.comments.count %></i>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="grow">
    <div class="col">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">並び替え</div>
        <div class="card-body text-dark">
          <p class="card-text">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>