<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @post, local:true do |f| %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, autofocus: "" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, "説明文" %>
        <%= f.text_area :introduction %>
      </div>
      <div class="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "東京都港区元赤坂2-1-1" %>
      </div>
      <div class="form-group">
         <!--登録されているジャンルから３つ選択できるフォームor
        タグを生成してリンク化-->
        <!--<#%= %>-->
      </div>
      <div class="form-group">
        
      </div>
      <%= f.submit "投稿をする"%>
      <% end %>
    </div>
  </div>
</div>