<div class="container">
  <div class="row">
    <div class="col-md-2">
      <% @post.post_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100, fallback: "no_image-.jpg" %>
      <% end %>
    </div>
  </div>
</div>
<!--評価を平均点て表示-->
<div class="review-rating" id="star-read" data-score="<%= @post.rates.average(:rate) %>">評価</div>
<% if @user == current_user %>
  <%= link_to "投稿を編集", edit_post_path(@post) %>
<% end %>
  <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "本当に投稿を削除しますか？"} %>
  
  <!---いいね(非同期通信)--->
<div id="favorites_button_<%= @post.id %>">
 <%= render partial: "public/favorites/favorite", locals: {post: @post } %>
</div>


  <!--評価送信フォーム-->
  <%= form_with(model:[@rate,@post], url: rate_path(post_id: @post), method: :post, local: true) do |f| %>
    <div id="star">
      <%= f.hidden_field :rate, :value => "score"%>
    </div>
    <%= f.submit "評価する" %>
  <% end %>
  
  <!--コメント送信フォーム(非同期通信)-->
  

  <h2>コメント一覧</h2>
  <div class="comment_create">
    <% if user_signed_in? %>
      <%= render partial: "public/comments/comment_form", locals: { post: @post, comment: @comment } %>
    <% end %>
    <!--コメントを表示-->
    <div id="comment_area">
      <%= render partial: "public/comments/comment_index", locals: { comments: @comments } %>
    </div>
  </div>


<!--地図表示-->
<div id="map"></div>

<style>
  #map {
    height: 400px;
    width: 450px;
  }
</style>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
<script>
  // 地図表示
  function initMap() {
    // 投稿された住所の緯度経度を取得
    let buildPosition = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}
    let map = new google.maps.Map(document.getElementById("map"), {
            zoom: 19,
            center: buildPosition
            });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    let contentString = "住所:<%= @post.address %>";
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
              position: buildPosition,
              map: map,
              title: contentString
            });
    marker.addListener("click", function(){
      infowindow.open(map, marker);
    });
  }

  //評価投稿
  $("#star").raty({
    starOn: "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    starOff: "<%= asset_path("star-off.png") %>",
    scoreName: "rate[rate]",
    half: true,
  });
// 評価表示
  $("#star-read").raty({
    starOn: "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    starOff: "<%= asset_path("star-off.png") %>",
    source: function(){
      return $(this).attr("data-score")
    },
    readOnly: true
  });

</script>




