<div class="container">
  <div class="row">
    <div class="col-md-2">
      <% @post.post_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 100, 100, fallback: "no_image-.jpg" %>
      <% end %>
    </div>
  </div>
</div>
<!--評価を平均点て表示-->
<div class="review-rating" id="star-read" data-score="<%= @post.rate %>">評価</div>
<% if @user == current_user %>
  <%= link_to "投稿を編集", edit_post_path(@post) %>
<% end %>
  <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "本当に投稿を削除しますか？"} %>

   <% if @post.favorited_by?(current_user) %>
    <%= link_to  post_favorites_path(@post), method: :delete do %>
      <i class="fas fa-heart"></i><%= @post.favorites.count%>
    <% end %>
  <% else %>
    <%= link_to  post_favorites_path(@post), method: :post do %>
      <i class="far fa-heart"></i><%= @post.favorites.count%>
    <% end %>
  <% end %>


  <!--コメント送信フォーム-->
  <%= form_with(model:[@post, @comment], local:true) do |f| %>
    <%= f.text_area :comment, placeholder: "感想などをコメントしてみましょう！" %>
    <%= f.submit "コメントする" %>
  <% end %>

  <!--評価送信フォーム-->
  <%= form_with model: @rate, url: rate_path, method: :post, local: true do |f| %>
    <div id="star">
      <%= f.hidden_field :rate, :value => "score"%>
    </div>
    <%= f.submit "評価する" %>
  <% end %>



  <% @post.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= %>
    <%= comment.comment %>
  <% end %>




<script>
//評価投稿
  $("#star").raty({
    starOn: "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    starOff: "<%= asset_path("star-off.png") %>",
    scoreName: "rate[rate]",
    half: true,
  });
// 評価表示
  $("#star-read").raty({
    starOn: "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    starOff: "<%= asset_path("star-off.png") %>",
    source: function(){
      return $(this).attr("data-score")
    },
    readOnly: true
  });
</script>

