<h1>map</h1>

<%= form_with url: map_request_path, method: :get do |f| %>
  <%= f.text_field :address %>
  <%= f.submit "地図表示" %>
<% end %>


<div id="map"></div>

<style>
  #map {
    height: 600px;
    width: 100%;
  }
</style>

<script>
  let map
  var contentString = <%= @posts.pluck(:id).to_s.html_safe %>;
  var contentAddress = <%= @posts.pluck(:address).to_s.html_safe %>;
  let infowindow = [];
  let markerLatLng = {};
//  const build_positions = gon.build_positions;
  let marker = [];
 // 地図表示
  function initMap() {
    // 投稿された住所の緯度経度を取得
    map =new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: { lat: 35.6585, lng: 139.7486 }
            });
    // 都市の交通網表示
    let transitLayer = new google.maps.TransitLayer();
    // 地図に複数マーカ表示
    console.log(contentString);
    let lat = <%= @posts.pluck(:latitude).to_s %>
    let lng = <%= @posts.pluck(:longitude).to_s %>
    for (var i = 0; i < <%=@posts.length%>; i++) {
  //if (build_positions.length == 0) { continue };
      markerLatLng = {lat: lat[i], lng: lng[i]}; // 緯度経度のデータ作成
      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        // title: contentString[i]
      });
      // 吹き出し
      infowindow[i] = new google.maps.InfoWindow({
      });

      markerEvent(i);
  }
  }
  // マーカークリック時に吹き出しを表示する
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      let id_set = contentString[i];
      let address_set = contentAddress[i];
      let url_set = `https://5f61991cb31140d1b70213e974362f93.vfs.cloud9.us-east-1.amazonaws.com/posts/${id_set}`;
      let link_set = `<a href="${url_set}">${address_set}</a>`;
      infowindow[i].setContent(link_set);
      infowindow[i].open(map, marker[i]);
    });
  };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" ></script>
