
<div class="index">
  <h2 class="title">Architecture Map</h2>
  <p>~ユーザーが投稿した建築物の位置~</p>
</div>

<div class="form">
  <%= form_with url: map_request_path, method: :get do |f| %>
    <%= f.text_field :address, placeholder: "地名や住所を入力で検索", size: "50x20" %>
    <%= f.submit "地図表示" %>
  <% end %>
</div>


<div id="map"></div>

<script>
  let map
  let contentString = <%= @posts.pluck(:id).to_s.html_safe %>;
  let contentTitle = <%= @posts.pluck(:title).to_s.html_safe %>;
  let lat = <%= @posts.pluck(:latitude).to_s %>
  let lng = <%= @posts.pluck(:longitude).to_s %>
  let infowindow = [];
  let markerLatLng = {};
  let marker = [];
 // 地図表示
  function initMap() {
    // 投稿された住所の緯度経度を取得
    map =new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: { lat: 35.6585, lng: 139.7486 }
            });
    // 都市の交通網表示
    let transitLayer = new google.maps.TransitLayer();

    // 地図に複数マーカ表示
    for (var i = 0; i < <%=@posts.length%>; i++) {
      // 緯度経度のデータ作成
      markerLatLng = {lat: lat[i], lng: lng[i]};
      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
      });
      // 吹き出し
      infowindow[i] = new google.maps.InfoWindow({
      });

      markerEvent(i);
    }

    //クリックイベント
    map.addListener('click', function(e) {
      clickMap(e.latLng, map);
    });
  }
  // マーカークリック時に吹き出しを表示する
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      let id_set = contentString[i];
      let title_set = contentTitle[i];
      let url_set = `/posts/${id_set}`;
      let link_set = `<a href="${url_set}">${title_set}</a>`;

      infowindow[i].setContent(link_set);
      infowindow[i].open(map, marker[i]);
    });
  }

  // クリックで住所取得
  function clickMap(geo, map) {
    lat = geo.lat();
    lng = geo.lng();
    // 座標取得
    let getCoodinate = new google.maps.LatLng(lat, lng);
    // 
    let address = new google.maps.Geocoder();
    address.geocode(
      {"latLng": getCoodinate},
      function(reslutAddress) {
        // 
        let getAdress = new String(reslutAddress[0].formatted_address);
        console.log(getAdress);
        document.getElementById("aa").innerHTML
          = "<p>緯度=" + lat + ", 経度=" + lng + "<br>"
                        + "住所=" + getAdress + "</p>";
      }
      );

    document.getElementById('lat').value = lat;
    document.getElementById('lng').value = lng;
  }

</script>

<div id="aa"></div>
緯度：<input type="text" id="lat" name="lat" value="" size="20">　経度：<input type="text" id="lng" name="lng" value="" size="20">


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" ></script>
