<!DOCTYPE html>
<html>
  <head>
    <title>BFS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b58f995e83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to "Logo", top_path, class: "navbar-brand p-4" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if user_signed_in? %>
        <!--ログインしている場合　ヘッダー-->
        <div class="welcom">
          ようこそ、<%= current_user.name %>
        </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 nav-justified">
              <li class="nav-item">
                <%= link_to new_post_path, class: "nav-link" do %>
                  <i class="fas fa-plus"></i>
                  新規投稿
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path, class: "nav-link" do %>
                  <i class="far fa-newspaper"></i>
                  投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <!--turbolinksをfalseにしないとページを重複して更新してしまう-->
                <%= link_to maps_path, data: { "turbolinks"=> false }, class: "nav-link" do %>
                  <i class="fas fa-map-marked-alt"></i>
                  地図
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "nav-link" do %>
                <i class="fas fa-address-card"></i>
                マイページ
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fas fa-sign-out-alt"></i>
                ログアウト
                <% end %>
              </li>
            </ul>

            <!--<form class="form-inline my-2 my-lg-0">-->
            <!--  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
            <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
          </div>
        <!--管理者用　ヘッダー-->
        <% elsif admin_signed_in? %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "投稿一覧", admin_posts_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "コメント一覧", admin_comments_path, class: "nav-link" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        <!--フリーアクセス　ヘッダー-->
        <% else %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="fas fa-user-plus"></i>
                新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fas fa-sign-in-alt"></i>
                ログイン
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  new_post_path, class: "nav-link" do %>
                <i class="fas fa-plus"></i>
                新規投稿
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  posts_path, class: "nav-link" do%>
                <i class="far fa-newspaper"></i>
                投稿一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to  maps_path, data: { "turbolinks"=> false }, class: "nav-link" do %>
                  <i class="fas fa-map-marked-alt"></i>
                  地図
                <% end %>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="footer">
         ©  test
      </div>
    </footer>

  </body>
</html>

<style>
  .welcom {
    color: white;
  }
</style>